body::before { /*antes del contenido del body*/
    content: ""; /*se declara como una cadena vacia, no agregará contenido visible, pero aún así permitirá aplicar estilos adicionales*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el elemento detrás del contenido */
    background-image: url('rivenfotofondoMapas.jpg');
    background-size: cover;
    filter: blur(5px); /* Aplica un desenfoque de 5px */
}
.imagenContainer{text-align: center; opacity: 80%;}
hr {border-color: rgb(30, 60, 90); width: 90%;}
.rectangulo {
width: 90%; 
background-color: black;
color: white; 
padding: 15px; 
margin: auto; 
text-align: center;
border-radius: 10px;
opacity: 75%;
text-transform: uppercase;
font-weight: bold;
text-decoration: underline;
font-style: italic;
font-size: 38px;
font-family: monospace;
}
.rectangulo p::first-letter {
color: rgb(255, 165, 0);
font-size: 75px;
}
.rectangulo1 {
max-width: 50%;
background-color: rgb(30, 60, 90);
color: white; 
padding: 5px; 
margin: auto; 
text-align: center;
border-radius: 10px;
opacity: 75%;
margin: 20px 0 20px 20px;
border: 5px solid black;
height: auto; /* Cambiado de altura fija a altura automática */
font-size: 24px;
font-family: monospace;
word-wrap: break-word; /* Evitar que el texto se desborde */
}
.rectangulo2 {
max-width: 50%;
background-color: rgb(40, 70, 100);
color: white; 
padding: 5px; 
margin: auto; 
text-align: center;
border-radius: 10px;
opacity: 75%;
margin: 20px 0 20px 20px;
border: 5px solid black;
height: auto; /* Cambiado de altura fija a altura automática */
font-size: 24px;
font-family: monospace;
word-wrap: break-word; /* Evitar que el texto se desborde */
}
.rectangulo3 {
max-width: 90%;
background-color: black;
color: white; 
padding: 5px; 
margin: auto; /* Centrar horizontalmente */
text-align: center;
border-radius: 10px;
opacity: 75%;
margin-top: 20px; /* Añadido margen superior */
border: 5px solid black;
height: auto; /* Cambiado de altura fija a altura automática */
font-size: 24px;
font-family: monospace;
word-wrap: break-word; /* Evitar que el texto se desborde */
}

.imagenMitad img {
width: 100%;
border-radius: 10px;
height: 100%;
}
.contenedor-flex {
display: flex;
}
.rectangulo2, .imagenMitad {
width: 50%; 
margin: 20px 0 20px 20px;
}
.imagenMitad {
position: relative; /* Asegura que los elementos absolutos se posicionen relativamente a este contenedor */
}
.texto-superpuesto {
position: absolute; /* Posición absoluta para superponer el texto */
bottom: 10px; /* Alinea el texto 10px desde la parte inferior */
left: 50%; /* Lo centra horizontalmente */
transform: translateX(-50%); /* Lo centra horizontalmente */
color: orange;
padding: 10px;
text-align: center;
width: 80%; /* Hace que el texto ocupe el 80% del ancho del contenedor */
max-width: 300px; /* Ancho máximo del contenedor del texto */
}
.texto-superpuestoazul {
position: absolute; /* Posición absoluta para superponer el texto */
bottom: 10px; /* Alinea el texto 10px desde la parte inferior */
left: 50%; /* Lo centra horizontalmente */
transform: translateX(-50%); /* Lo centra horizontalmente */
color: blue;
padding: 10px;
text-align: center;
width: 80%; /* Hace que el text o ocupe el 80% del ancho del contenedor */
max-width: 300px; /* Ancho máximo del contenedor del texto */
}
.imagen-container1 {
display: flex;
justify-content: space-between; /* Alinear las imágenes a lo largo de la línea */
position: relative; /* Asegurar que el contenedor de la imagen tenga posición relativa */
padding-left: 6% ;
}

.imagenMitad1 {
width: 30%; /* Ajustar el ancho de cada imagen */
position: relative; /* Asegurar que el contenedor de la imagen tenga posición relativa */
}

.texto-superpuesto1 {
position: absolute;
bottom: 10px;
left: 7%;
background-color: rgba(0, 0, 0, 0.5);
color: white;
padding: 10px;
border-radius: 5px;
width: 60%;
color:darkorange;
text-align: center;
}
#navBar {
position: fixed;
top: 0;
background-color: rgb(0, 0, 0);
height: 70px;
width: 100%;
display: flex;
justify-content: center;
z-index: 1000;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li {
color: rgb(255, 255, 255);
display: inline-block;
}

li a {
margin: 0 20px;
display: block;
color: white;
text-decoration: none;
padding: 20px;
font-size: 24px;
}

li a:hover {
background-color: #111;
color: rgb(83, 58, 211);
}

li a.active {
background-color: #111;
color: rgb(83, 58, 211);
}

li img {
display: inline;
color: white;
text-decoration: none;
height: 49px;
margin-top: 10px;
margin-left: 0px;
}
footer {
background-color: black;
color: white;
padding: 20px;
}
.footer-content {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}
.footer-links {
margin-top: 10px;
}
.footer-links ul {
list-style-type: none;
padding: 0;
}
.footer-links ul li {
display: inline;
margin-right: 10px;
}
.footer-links ul li a {
color: white;
text-decoration: none;
border: 1px solid transparent;
padding: 5px 10px;
transition: border-color 0.3s ease;
}
.footer-links ul li a:hover {
color: purple;
}
@media only screen and (max-width: 600px) {
body {
font-size: 8px;
background-size: contain; /* Cambiar a "contain" para adaptar mejor a pantallas pequeñas */
}

.rectangulo, .rectangulo1, .rectangulo2, .rectangulo3 {
width: 90%; /* Ajustar el ancho para pantallas pequeñas */
}

.rectangulo {
font-size: 24px; /* Reducir el tamaño de la fuente para pantallas pequeñas */
}

.imagenMitad img {
width: 100%; /* Ajustar el ancho de la imagen al ancho de la pantalla */
height: auto; /* Altura automática para mantener la proporción */
}

.contenedor-flex {
flex-direction: column; /* Cambiar la dirección del flexbox para apilar elementos */
}
.imagen-container1 {
flex-direction: column; /* Cambiar la dirección del flexbox para apilar elementos */
}

.rectangulo2, .imagenMitad {
width: 100%; /* Ancho completo para pantallas pequeñas */
margin: 20px 0; /* Ajustar el margen para pantallas pequeñas */
}
.imagenMitad1 {
width: 100%; /* Ancho completo para una imagen por fila en teléfonos */
}
.texto-superpuesto1 {
width: 60%;
}
}
@media only screen and (max-width: 768px) {
.imagenMitad1 {
width: 45%; /* Ajustar el ancho para que haya dos imágenes por fila en tabletas */
margin-bottom: 20px; /* Agregar un margen inferior para separar las filas */
}
.imagen-container1 {
display: flex;
flex-wrap: wrap; /* Permitir que los elementos se envuelvan en múltiples líneas */
justify-content: space-between; /* Alinear los elementos alrededor del contenedor */
}
.texto-superpuesto1 {
width: 60%;
}

}