body {
  font-family: Arial, sans-serif;
  color: rgb(250, 243, 243);
  font-size: 16px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../assets/Campeones.jpg');
  background-size: cover;
  filter: blur(5px);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.image-fist {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
p {
  text-align: center;
  margin-bottom: 20px;
}

hr {
  border-color: rgb(9, 82, 116);
  border-width: 5px;
}

h1 {
  color: rgb(224, 193, 168);
  font-style: italic;
  text-decoration: underline;
}

.color1 {
  color: rgb(224, 193, 168);
}

h2 {
  color: orange;
}

.color2 {
  color: orange;
}

h3 {
  color: yellow;
}

.color3 {
  color: yellow;
}

.container {
  max-width: 800px;
  margin: 100px auto 20px;
  /* Añade un margen superior de 100px */
  padding: 20px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}