body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../assets/rivenfotofondoMapas.jpg');
    background-size: cover;
    filter: blur(5px);
}

.imagenContainer {
    text-align: center;
    opacity: 80%;
}

hr {
    border-color: rgb(30, 60, 90);
    width: 90%;
}

.rectangulo {
    width: 90%;
    background-color: black;
    color: white;
    padding: 15px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    opacity: 75%;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
    font-size: 38px;
    font-family: monospace;
}

.rectangulo p::first-letter {
    color: rgb(255, 165, 0);
    font-size: 75px;
}

.rectangulo1 {
    max-width: 50%;
    background-color: rgb(30, 60, 90);
    color: white;
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    opacity: 75%;
    margin: 20px 0 20px 20px;
    border: 5px solid black;
    height: auto;
    font-size: 24px;
    font-family: monospace;
    word-wrap: break-word;
}

.rectangulo2 {
    max-width: 50%;
    background-color: rgb(40, 70, 100);
    color: white;
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    opacity: 75%;
    margin: 20px 0 20px 20px;
    border: 5px solid black;
    height: auto;
    font-size: 24px;
    font-family: monospace;
    word-wrap: break-word;
}

.rectangulo3 {
    max-width: 90%;
    background-color: black;
    color: white;
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    opacity: 75%;
    margin-top: 20px;
    border: 5px solid black;
    height: auto;
    font-size: 24px;
    font-family: monospace;
    word-wrap: break-word;
}

.imagenMitad img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.contenedor-flex {
    display: flex;
}

.rectangulo2,
.imagenMitad {
    width: 50%;
    margin: 20px 0 20px 20px;
}

.imagenMitad {
    position: relative;
}

.texto-superpuesto {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: orange;
    padding: 10px;
    text-align: center;
    width: 80%;
    max-width: 300px;
}

.texto-superpuestoazul {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: blue;
    padding: 10px;
    text-align: center;
    width: 80%;
    max-width: 300px;
}

.imagen-container1 {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 6%;
}

.imagenMitad1 {
    width: 30%;
    position: relative;
}

.texto-superpuesto1 {
    position: absolute;
    bottom: 10px;
    left: 7%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    color: darkorange;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 8px;
        background-size: contain;
    }

    .rectangulo,
    .rectangulo1,
    .rectangulo2,
    .rectangulo3 {
        width: 90%;
    }

    .rectangulo {
        font-size: 24px;
    }

    .imagenMitad img {
        width: 100%;
        height: auto;
    }

    .contenedor-flex {
        flex-direction: column;
    }

    .imagen-container1 {
        flex-direction: column;
    }

    .rectangulo2,
    .imagenMitad {
        width: 100%;
        margin: 20px 0;
    }

    .imagenMitad1 {
        width: 100%;
    }

    .texto-superpuesto1 {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .imagenMitad1 {
        width: 45%;
        margin-bottom: 20px;
    }

    .imagen-container1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .texto-superpuesto1 {
        width: 60%;
    }

}